@use '~@gravity-ui/uikit/styles/mixins';

.icon-tooltip {
    --yc-popover-max-width: 1000px;

    &__grid {
        display: grid;
        grid-template-columns: max-content minmax(max-content, 1fr);
        gap: 12px;
    }

    &__label {
        @include mixins.text-accent;
    }

    &__value {
        white-space: nowrap;
        font-family: 'SF Mono', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', 'Liberation Mono',
            'DejaVu Sans Mono', 'Courier New', 'Courier', monospace;
    }
}
