.showcase {
    &__search {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;

        &-input {
            width: 300px;
            padding: 0 0 0.2em;
            color: var(--g-color-text-primary);
            background: transparent;
            border: none;
            border-bottom: 1px solid var(--g-color-line-generic);
            outline: none;
            font-family: monospace;
            font-size: 28px;
            line-height: 32px;
            text-align: center;

            &::placeholder {
                color: var(--g-color-text-hint);
            }
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }

    &__empty {
        font-size: var(--g-text-body-3-font-size);
        line-height: 44px;
        font-style: italic;
        font-family: serif;
        color: var(--g-color-text-hint);
    }
}
