.showcase {
    &__search {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;

        &-input {
            width: 300px;
            padding: 0 0 0.2em;
            color: var(--yc-color-text-primary);
            background: transparent;
            border: none;
            border-bottom: 1px solid var(--yc-color-line-generic);
            outline: none;
            font-family: monospace;
            font-size: 28px;
            line-height: 32px;
            text-align: center;

            &::placeholder {
                color: var(--yc-color-text-hint);
            }
        }

        &-description {
            font-family: monospace;
            color: var(--yc-color-text-hint);
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 4px;
    }

    &__empty {
        font-size: var(--yc-text-body-3-font-size);
        line-height: 44px;
        font-style: italic;
        font-family: serif;
        color: var(--yc-color-text-hint);
    }

    &__popover {
        &-tooltip {
            --yc-popover-max-width: 600px;
        }

        &-wrapper {
            display: grid;
            grid-template-columns: 100px minmax(0, 1fr);
            align-items: baseline;
            gap: 8px;

            &:not(:first-child) {
                margin-top: 8px;
            }
        }
    }
}
